.left_side_menu{
    width: 20%;
    height: 100%;
    background-color: white;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
}

.days_value{
    height: 225px;
    width: 80%;
    margin: 15px auto;
    border-bottom: 2px rgba(112, 112, 112, 0.638) solid;
}

.another_setting{
    height: 125px;
    width: 80%;
    margin: 15px auto;
}

.days_value ul, .another_setting ul{
    height: 100%;
    width: 100%;
}

.days_value ul li, .another_setting ul li{
    margin-top: 15px;
    list-style: none;
    box-shadow: 1px 1px 2px rgb(123, 123, 123);
    border-radius: 4px;
}

.days_value ul li button, .another_setting ul li button{
    border: none;
    background-color: transparent;
    color: rgb(77, 77, 77);
    font-size: 20px;
}