main{
    width: 100%;
    height: calc(90vh - 10px);
}

nav{
    height: 40px;
    width: 100%;
    background-color: cyan;
}

.wrap_article{
    height: calc(100% - 40px);
    width: 100%;
    display: flex;

}

article{
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}

article::-webkit-scrollbar {
    width: 0;
  }