main{
    width: 100%;
    height: calc(90vh - 14px);
}

nav{
    height: 10px;
    width: 100%;
}

.wrap_article{
    height: calc(100% - 17px);
    width: 100%;
    display: flex;

}

.main_part_app{
    height: 100% ;
    width: 80%;
    overflow-y: scroll;
    padding: 0;
}

.main_part_app::-webkit-scrollbar {
    width: 0;
  }