.forecast_one_hour{
    width: 10%;
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(158, 242, 245, 0.494);
}

.time, .temperature{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.precipitation{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}